<div class="container">
	<div class="row">
		<div class="8u">
			
			<section>
				<h2>Link</h2>
				<div>
					<div class="row">
						<div class="3u">
							<ul class="link-list">
								<li><a href="http://httpd.apache.org/" target="_blank">Apache</a></li>
								<li><a href="https://github.com/j4mie/idiorm" target="_blank">Idiorm</a></li>
								<li><a href="http://www.slimframework.com/" target="_blank">Slim Framework</a></li>
								
							</ul>
						</div>
						<div class="3u">
							<ul class="link-list">
								<li><a href="http://www.arduino.cc/" target="_blank">Arduino</a></li>
								<li><a href="https://github.com/j4mie/paris" target="_blank">Paris</a></li>
								<li><a href="http://twig.sensiolabs.org/" target="_blank">Twig</a></li>
							</ul>
						</div>
						<div class="3u">
							<ul class="link-list">
								<li><a href="https://github.com/" target="_blank">GitHub</a></li>
								<li><a href="http://php.net/" target="_blank">PHP</a></li>
								<li><a href="http://www.apachefriends.org/it/xampp.html" target="_blank">xampp</a></li>
							</ul>
						</div>
					</div>
				</div>
			</section>
		
		</div>
		<div class="4u">

			<section>
				<h2>Dai un'occhiata al progetto</h2>
				<p>Il progetto è completamente visibile su Github.</p>
				<footer class="controls">
					<a href="https://github.com/JCPP/STC" class="button" target="_blank">View on GitHub</a>
				</footer>
			</section>

		</div>
	</div>
	<div class="row">
		<div class="12u">

			<div id="copyright">
				&copy; Untitled. No rights reserved. |  Sviluppato da: <a href="https://github.com/JCPP" target="_blank">JCPP</a> | Design: <a href="http://html5up.net" target="_blank">HTML5 UP</a>
			</div>

		</div>
	</div>
</div>