{% extends "base.twig" %}

{% block sottotitolo %}Home Page | {% endblock %}

{% block contenuto %}
<section>
	<h2>Benvenuto in STC!</h2>
	<p>Statistiche Territoriali Climatiche è un progetto per Arduino che ha come scopo principale quello di monitorare il clima di un territorio, in modo da creare statistiche, grafici e foto nel corso dell'anno che potranno essere utili per fini di studio meteorologico. Oltre a questo il progetto contiene anche dei sistemi di alert che permettono di controllare una determinata situazione meteorologica e di avvertire coloro che ne hanno richiesto il servizio nel caso in cui ci sia una situazione di pericolo (esempio: temperatura troppo alta, vento forte o alto rischio di fulmini).</p>
	<p></p>
</section>
{% endblock %}