{% extends "base.twig" %}

{% block sottotitolo %}Visualizzazione dati | {% endblock %}

{% block contenuto %}
<section>
	<h2>Visualizza i dati</h2>
	
	{# Indice dei sensori disponibili 
	<div class="4u">
		<section>
			<h2>Sensori</h2>
			{% if sensori %}
				<ul class="link-list">
				{% for sensore in sensori %}
						<li><a href="#">{{ sensore.NomeSensore|raw }}</a> ({{ sensore.DescrizioneSensore|raw }})</li>
						
				{% endfor %}
				</ul>
			{% else %}
				Nessun sensore trovato.
			{% endif %}
		</section>
	</div>
	#}
	{# Chart #}
	<div class="12u">
		<section>
			{# <h2>Dati</h2> #}
			<div class="flot-container">
				<div id="placeholder" class="flot-placeholder"></div>
			</div>
			{#
			{% if sensori %}
				<ul class="link-list">
				{% for sensore in sensori %}
						<li><a href="#">{{ sensore.NomeSensore|raw }}</a> ({{ sensore.DescrizioneSensore|raw }})</li>
						
				{% endfor %}
				</ul>
			{% else %}
				Nessun sensore trovato.
			{% endif %}
			#}
		</section>
	</div>
</section>
{% endblock %}