{% extends "base.twig" %}

{% block sottotitolo %}Visualizzazione dati | {% endblock %}

{% block contenuto %}
<section>
	<h2>Visualizza i dati</h2>
	<p></p>
	<p</p>
	<p></p>
</section>
{% endblock %}