{% extends "base.twig" %}

{% block sottotitolo %}Visualizzazione dati | {% endblock %}

{% block contenuto %}
<section>
	<h2>Visualizza i dati</h2>

	{# Chart #}
	<div class="12u">
		<section>
			{# <h2>Dati</h2> #}
			<div class="flot-container">
				<div id="placeholder" class="flot-placeholder"></div>
			</div>
		</section>
	</div>
	
	
{% endblock %}


{% block contenuto_aggiuntivo %}
{# Bottoni #}
<div class="row main-row">
	<div class="12u">
		<section>
			<h2>Controlli</h2>
			<button id="realtime_button">Realtime</button>
			<button id="complete_button">Prospettiva completa</button>
		</section>
	</div>
</div>
{% endblock %}